{% extends "index.twig" %}

{% block title %}Students{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CRUD Yii2 AngularJs</a>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Students <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Teachers</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Schedule</a></li>
                </ul>
            </div>
            <div class="col-sm-9 main">
                <h2 class="sub-header">Students</h2>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nama</th>
                            <th>Jenis Kelamin</th>
                            <th>alamat</th>
                            <th>Nomer Telepon</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="s in students">
                        <tr>
                            <td>{{ s.id }}</td>
                            <td>{{ s.nama }}</td>
                            <td>{{ s.jenis_kelamin }}</td>
                            <td>{{ s.alamat }}</td>
                            <td>{{ s.nomer_telepon }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="app/student/StudentCtrl.js"></script>
{% endblock %}